* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
 body {
     line-height: 1;
 }
 .flex
 {
     display: flex;
     flex-wrap: wrap;
     flex-grow: 2;
     padding: 5px;
     
 }
 .item
 {
     margin:5px;
 }