body
{
    background-color: blueviolet;
}
.style
{
    color: darkorange;
    font-size: xx-large;
    text-align: center;
}
#font
{
    color:greenyellow;
    font-size: large;
}
a{
    color: ivory;
    font-size: large;
    text-align: left;
    
}
.Welcome
{
    color: lightblue;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration:gold ;
}
 #ho
 {
     background-color: palevioletred;
 }
 .about
 {
     color: purple;
     font-size: x-large;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 #ab
 {
     background-color: seagreen;
 }
 #con
 {
     background-color: brown;
 }
 